:root {
  --lightGrey: #afafaf;
  --darkPurple: #383241;
  --white: #fff;
  --lightPink: #f4eeff;
  --brown: #cda16f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;    
  font-family: 'Roboto', sans-serif;  
}

.main {
  display: flex;
  justify-content: center;    
  width: 80%;
  margin: 100px auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
